.currency-container {
  width: 38.5vw;
  height: 30vh;
  border-radius: 10px;
  background-color: chocolate;
}

.currency-container h2 {
  text-align: center;
  padding-top: 10px;
}

.currency-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
}

.input-container {
  width: 100%;
  text-align: center;
}

.input-container input {
  width: 50%;
}

.input-container select {
  width: 40%;
  height: 4vh;
  border-radius: 10px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin-top: 1rem;
}

.currency-container p {
  margin: 0px auto;
  padding-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .currency-container {
    width: 70vw;
  }

  .input-container input {
    width: 50%;
  }

  .button-container {
    width: 60%;
  }
}
