.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#giphy {
  width: 500px;
  height: 500px;
}

.home-container p {
  font-size: 1.3rem;
  width: 50%;
}
