.country-container {
  width: 100%;
}

#flag-logo {
  width: 100%;
  border-radius: 20px;
}

h3,
h5 {
  text-align: center;
  font-size: 1.3rem;
}

h3 {
  margin-top: 10px;
}

h5 {
  margin-bottom: 20px;
}

p {
  padding-left: 10px;
  margin-bottom: 5px;
  font-size: 1.1rem;
}
