.translation-container {
  width: 35vw;
  background-color: blanchedalmond;
}

.translation-container h2 {
  text-align: center;
  padding-top: 10px;
}

.translation-container input {
  width: 70%;
}

#translation {
  width: 80%;
  margin: 0px auto;
  padding-bottom: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.form-container {
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
