.translation-container {
  width: 35vw;
  height: 30vh;
  background-color: chocolate;
  border-radius: 10px;
}

.translation-container h2 {
  text-align: center;
  padding-top: 10px;
}

#translation-input {
  width: 70%;
  padding: 1rem;
}

#translation {
  font-size: 1.2rem;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .translation-container {
    width: 70vw;
  }

  #translation-input {
    width: 90%;
  }
}
