.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 10px;
}

.info-container {
  grid-column: 2 / span 4;
  grid-row: 3 / span 4;
  overflow-y: scroll;
  border: 1px solid black;
  background-color: wheat;
  border-radius: 10px;
  padding-bottom: 10px;
}

.info-container::-webkit-scrollbar {
  width: 0.7rem;
  overflow: hidden;
}

.info-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.info-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}

/* Currency Holder */
.currency-holder {
  grid-column: 2 / span 4;
  grid-row: 1 / span 3;
}

/* Translation */
.translation {
  grid-column: 6 / span 3;
  grid-row: 1 / span 3;
}

.display-map {
  grid-column: 6 / span 4;
  grid-row: 3 / span 4;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .info-container {
    grid-column: 2 / span 4;
    grid-row: 1 / span 1;
    width: 70vw;
    height: 35vh;
  }

  .translation {
    grid-column: 2 / span 4;
    grid-row: 2 / span 1;
    height: 35vh;
    margin-top: 1rem;
  }

  /* Currency Holder */
  .currency-holder {
    grid-column: 2 / span 4;
    grid-row: 3 / span 1;
    height: 35vh;
  }

  /* Translation */
  .display-map {
    grid-column: 2 / span 4;
    grid-row: 4 / span 1;
    height: 35vh;
    margin-top: -20px;
  }
}
