.info-container {
  width: 35%;
  height: 57vh;
  overflow-y: scroll;
  border: 1px solid black;
  background-color: wheat;
  border-radius: 10px;
  padding-bottom: 10px;
}

.info-container::-webkit-scrollbar {
  width: 0.7rem;
  overflow: hidden;
}

.info-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.info-container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 10px;
}
